body,
html {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

h1 {
  padding: 5px;
}

i {
  color: rgb(251, 187, 170) !important;
}

a {
  color: rgb(251, 187, 170);
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header and associated content - Start*/

header {
  background-color: rgb(5, 112, 174);
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#logo {
  padding-left: 20px;
}

#logo img {
  height: 90px;
}

#header_nav {
  display: flex;
  padding-top: 28px;
}

#main_navigation {
  padding-top: 6px;
  font-size: 40px;
  margin: 0;
}

#main_navigation li {
  display: inline;
}

#burger_menu {
  font-size: 55px;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
}

/* Header and associated content - End */

/* Main content HOME - Start */

main {
  background-color: rgb(119, 190, 231);
  text-align: center;
  padding-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#introText {
  padding: 5px;
  margin: 5px;
}

#form {
  background-color: rgb(05, 112, 174);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

#resultHeader {
  display: none;
}

#searchLabel {
  font-size: 140%;
}

#note {
  font-style: italic;
  font-size: 90%;
  padding: 5px;
}

input[type="text"] {
  width: 150px;
  padding: 4px;
  border-radius: 8px;
  font-size: 90%;
}

button {
  background-color: rgb(251, 187, 170);
  border-radius: 8px;
  padding: 5px;
}

#resultHeader {
  padding-top: 10px;
}

#searchResult {
  display: none;
}

#ingredientsUL {
  font-weight: bold;
}

#resultIngredientsMeasurement {
  list-style-type: none;
}

#resultIngredientsMeasurement li {
  margin: 6px;
}

#titleFavouriteFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

#resultTitle {
  margin: 0;
}

#resultInstructions {
  padding: 5px;
}

.resultBox {
  background-color: rgb(05, 112, 174);
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#resultIMG {
  width: 100%;
  display: block; /* viktigt */
  border-radius: 8px;
  margin-bottom: 10px;
}

#searchError {
  display: none;
  background-color: rgb(188, 15, 3);
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  font-size: 140%;
}

/* Main content HOME - End */

/* Main content FAVOURITES - Start */

#collectedFavourites {
  margin: 10px;
  padding: 10px;
  background-color: rgb(05, 112, 174);
  border-radius: 8px;
}

#favouritesListed {
  background-color: rgb(251, 187, 170);
  list-style-type: none;
  border-radius: 8px;
  padding: 5px;
}

#favouritesListed li {
  font-size: 120%;
  text-align: center;
}

#chartContainer {
  height: 400px;
  width: 400px;
  margin: 10px auto;
}

/* Main content FAVOURITES - End */

/* Footer and associated content - Start */

footer {
  background-color: rgb(05, 112, 174);
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 20px 22px;
  height: 40px;
}

#footer_leftSide p {
  margin: 0;
  padding-bottom: 5px;
}

#footer_rightSide a {
  font-size: 25px;
  padding: 5px;
}

/* Footer and associated content - End */
